#IDE and OS files and directories
__pycache__/
.vscode/
.DS_Store
.ipynb_checkpoints/


# Project directories
models/*

# Ignore gbif-xeno-canto dataset info

# Ignore generated datset files and directories
data/*

# Project files

#Jupyter notebooks
audio_sample_analysis.ipynb 


#Exceptions
!.gitkeep