#IDE and OS files and directories
__pycache__/
.vscode/
.DS_Store
.ipynb_checkpoints/
#Ignore gbif-xeno-canto dataset info
xeno_canto_bsfatw/
#Ignore generated datset files and directories
data_dictionary/
dataset/
audio_event_plots/
#Jupyter notebooks
#ignoring new changes to this notebook
audio_sample_analysis.ipynb 

#Exceptions
!.gitkeep